*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header{
    height: 100px;
    background-color: black;
}

.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.logo-img{
    width: 80px;
    height: 80px;
    background-color: #B28756;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li{
    list-style-type: none;
}

.menu ul {
    display: flex;
}

.menu li a{
    font-size: 10pt;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

.menu li a:hover{
    opacity: 0.9;
    border-bottom: 6px solid #B28756;
}

.menu .active a{
    opacity: 0.9;
    border-bottom: 6px solid #B28756;
}

.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../ref/complementos/bg.jpg);
    background-size: cover;
    background-position: center;
}